datazets>=1.0.0
clusteval>=2.1.5
colourmap>=1.1.16
scatterd>=1.3.6
pca>=2.0.4
distfit
numpy
pandas
tqdm
scikit-learn
matplotlib
scikit-image
scipy
pypickle
imagehash
pypickle
ismember
pillow-heif
opencv-python-headless
piexif
