#conda create -n env_clustimage python=3.8
#conda activate env_clustimage

pca
distfit
clusteval
colourmap
numpy
pandas
tqdm
sklearn
matplotlib
scikit-image
scipy
opencv-python
pypickle
imagehash
scatterd
requests
umap-learn
pypickle
ismember