#conda create -n env_clustimage python=3.8
#conda activate env_clustimage

datazets>="0.1.7"
clusteval>="2.1.5"
colourmap>="1.1.16""
scatterd>="1.3.6"
pca>="2.0.4"
distfit
numpy
pandas
tqdm
scikit-learn
matplotlib
scikit-image
scipy
opencv-python
pypickle
imagehash
pypickle
ismember
